<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          <h2>About Me</h2>
          <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I wanted to do a career changed from Administration because I loved doing Design Technology and Graphic Design during my education. I also enjoyed doing Life Drawing, Digital Art, IT &amp; Mobile Technician as hobbies.</p>
      </div>
      <div class="col-lg-4">
        <p>After working on server side for 2 team projects and for the best part of Le Wagon I now want to spend more time on the client side. I am available for work so let's start creating today.</p>
      </div>
    </div>
  </div>
</section>
