<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          <h2>About Me</h2>
          <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <p>I gained great happiness from doing Design Technology and Graphic Design during my education because it allowed me to take ownership of my creative work. I wanted to create a career where I can continue learning, collaborating with other like-minded people, and contributing to open source projects.</p> <p> To acquire these skills I attended Le Wagon London (Batch #36) 9 week intensive coding bootcamp learning HTML5, CSS3, Bootstrap, JavaScript, Jquery, SQL, Git, GitHub, Heroku and Ruby on Rails. </p>
      </div>
      <div class="col-lg-6">
        <p>Therefore, if you are a small business owner or an individual who needs a responsive website or requires marketing materials but do not have the time to design these then do send me a message below describing your current situation so I can assist you further today.</p>
      </div>
    </div>
  </div>
</section>
