<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi, I'm Olivia and I career changed from Administration to Web Development. I enjoyed doing Graphic Design at college, Life Drawing, and repairing mobile devices as hobbies.</p>
                    <p>I chose to do a Fullstack Web Development course at LeWagon recently because I wanted to learn how to code and build products.</p>
                </div>
                <div class="col-lg-4">
                    <p>This has lead me towards doing Front End Development + Web Design because it is visually challenging and exciting.</p>
                    <p>I am available for work so let's talk and build something amazing together.</p>
                </div>
            </div>
        </div>
    </section>
