<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="Olivia Campbell, Front End, UI Design, Graphic Design, Web Design, Design, Junior Web Developer">
  <meta http-equiv="Content-Language" content="EN">
  <meta name="author" content="Olivia Campbell">
  <title>Olivia Campbell| Front End Developer and Designer</title>
  {% if page.description %}<meta name="description" content="{{page.description}}" />{% endif %}
  <meta property="og:title" content="{% if page.title %} {{ page.title | strip_html | strip_newlines | truncate: 160 }} {% else %} {{ site.title }} {% endif %}">

  <meta property="og:description" content="{% if page.excerpt %} {{ page.excerpt | strip_html | strip_newlines | truncate: 160 }} {% else %} {{ site.description }} {% endif %}">

  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-freelancer/3.3.7/css/freelancer.min.css">
  <link rel="stylesheet" href="{{ "css/olivia.css" }}">

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ " /feed.xml " | prepend: site.baseurl | prepend: site.url }}">

  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>
